<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Angular Search</title>
	<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
	<link rel="stylesheet" href="main.css">
</head>
<body ng-cloak>
	<section ng-controller="searchCtrl as searchCtrl">
		<div class="search">
			<input type="text" placeholder="Поиск по книгам" ng-model="findStr">
		</div>
		<ul>
			<li ng-repeat="item in searchCtrl.items | findBook: findStr">
				<img ng-src="{{item.image}}" alt="">
				<p>{{item.title}}</p>
			</li>
		</ul>
	</section>
	<script src="https://code.angularjs.org/1.3.5/angular.min.js"></script>
	<script src="main.js"></script>
</body>
</html>